// Add styles to the main container
.player-container {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

// Add styles to the time-control container
.time-control {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  //   Add styles to the input
  input {
    width: 100%;
    padding: 1rem 0rem;
    // remove all styles from the input range
    -webkit-appearance: none;
    background: transparent;
    cursor: pointer;
  }
  //   Add styles to the paragraph
  p {
    padding: 1rem;
  }
}
// Add styles to the play-control container
.play-control {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  svg {
    cursor: pointer;
  }
}
// customize the slide
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
}

// add styles for track (holds the input and the animate-track div)
.track {
  // display: flex;
  // align-items: center;
  background: salmon;
  width: 100%;
  height: 1rem;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  .animate-track {
    background: rgb(204, 204, 204);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(0%);
    // to be able to click
    pointer-events: none;
  }
}

// Add mobile styles
@media screen and (max-width: 768px) {
  .time-control {
    width: 90%;
  }
  .play-control {
    width: 60%;
  }
}
