// import Google fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

// import CSS
@import "./song";
@import "./player";
@import "./library";
@import "./nav";

// base styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
h1,
h2,
h3 {
  color: rgb(54, 54, 54);
}
h3,
h4 {
  font-weight: 400;
  color: rgb(100, 100, 100);
}
